.mizu-app-layout {
  display: grid;
  grid-template: "header header" auto "sidebar content" 1fr / var(
      --mizu-app-layout-sidebar-width,
      16rem
    ) 1fr;
  min-height: 100vh;
  background: var(--mizu-surface-default);
  color: var(--mizu-text-primary);
}

.mizu-app-layout[data-sidebar-collapsed="true"] {
  grid-template-columns: 3rem 1fr;
}

.mizu-app-layout[data-sidebar-hidden="true"] {
  grid-template-areas:
    "header header"
    "content content";
  grid-template-columns: 1fr;
}

@media (width <= 48rem) {
  .mizu-app-layout {
    grid-template-areas:
      "header"
      "content";
    grid-template-columns: 1fr;
  }
}
