.mizu-separator {
  background: var(--mizu-border-default);
  border: none;
}

.mizu-separator[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}

.mizu-separator[data-orientation="vertical"] {
  width: 1px;
  height: 100%;
}
